{% extends "maestra.html" %}
{% block titulo %}
Agregar registroimpactoprobabilidad
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar Registro Impacto Probabilidad</h3>
            <form action="{{url_for('guardar_registroimpactoprobabilidad')}}" method="post">

                <label for="riesgoid">RiesgoID</label>
                <input required type="number" class="input" placeholder="RiesgoID" name="riesgoid" id="riesgoid">

                <label for="riesgoid">CriterioImpactoID</label>
                <input required type="number" class="input" placeholder="CriterioImpactoID" name="criterioimpactoid" id="criterioimpactoid">

                <label for="riesgoid">CriterioProbabilidadID</label>
                <input required type="number" class="input" placeholder="CriterioProbabilidadID" name="criterioprobabilidadid" id="criterioprobabilidadid">

                <label for="riesgoid">CriterioRiesgoID</label>
                <input required type="number" class="input" placeholder="CriterioRiesgoID" name="criteriroriesgoid" id="criterioriesgoid">


                <label for="uid">UID:</label>
                <input required type="text" class="input" placeholder="UID" name="uid" id="uid">

                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('registrosimpactoprobabilidad')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}