{% extends "maestra.html" %}
{% block titulo %}
Agregar activo
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar activo</h3>
            <form action="{{url_for('guardar_activo')}}" method="post">

                <label for="descripcion">Descripción</label>
                <input required type="text" class="input" placeholder="Descripción" name="descripcion" id="descripcion">
                
                <label for="tipoactivoid">TipoActivoID</label>
                <input required type="number" class="input" placeholder="TipoActivoID" name="tipoactivoid" id="tipoactivoid">

                <label for="unidadorganizacionalid">UnidadOrganizacionalID</label>
                <input required type="number" class="input" placeholder="UnidadOrganizacionalID" name="unidadorganizacionalid" id="unidadorganizacionalid">

                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('activos')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}