{% extends "maestra.html" %}
{% block titulo %}
Agregar unidadorganizacional
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar Unidad Organizacional</h3>
            <form action="{{url_for('guardar_unidadorganizacional')}}" method="post">
                

                <label for="descripcion">Descripción</label>
                <input required type="text" class="input" placeholder="Descripción" name="descripcion" id="descripcion">
                
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('unidadesorganizacionales')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}