{% extends "maestra.html" %}
{% block titulo %}
Agregar causa
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar causa</h3>
            <form action="{{url_for('guardar_causa')}}" method="post">
                <label for="riesgoid">RiesgoID</label>
                <input required type="number" class="input" placeholder="RiesgoID" name="riesgoid" id="riesgoid">

                <label for="descripcion">Descripción</label>
                <input required type="text" class="input" placeholder="Descripción" name="descripcion" id="descripcion">
                


                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('causas')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}