{% extends "maestra.html" %}
{% block titulo %} Amenazas {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Amenazas</h3>
            <a href="{{url_for('formulario_agregar_amenaza')}}" class="button is-success">Agregar</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descripción</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for amenaza in amenazas %}
                    <tr>
                        <td>{{amenaza[0]}}</td>
                        <td>{{amenaza[1]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en juego[0] #}
                            <a href="{{url_for('editar_amenaza', id=amenaza[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_amenaza')}}" method="POST">
                                <input type="hidden" name="id" value="{{amenaza[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h5 class="mb-4">Referencia</h5>
            <a class="button is-primary is-light mb-4" href="{{url_for('riesgos')}}">Riesgo</a>
        </div>
    </div>
</section>
{% endblock %}